/**{
  border: 1px solid red;
}*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-fluid {
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

html {
  scroll-behavior: smooth;
}

.logo {
  max-height: 200px;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

.pic {
  background-image: url("images/taust.jpg");
  background-size: cover;
  background-position: center;
  min-height: 250px;
}

#pic {
  background-image: url("images/taust.jpg");
  background-size: cover;
  background-position: center;
  min-height: 250px;
}

#pic2 {
  background-image: url("images/telkimisniit/campsite1_small.jpg");
  background-size: cover;
  background-position: center;
  min-height: 250px;
}

#pic3 {
  background-image: url("images/pub/veranda.jpg");
  background-size: cover;
  background-position: center;
  min-height: 250px;
}

#pic4 {
  background-image: url("images/kampingmaja/chouse3_small.jpg");
  background-size: cover;
  background-position: center;
  min-height: 250px;
}


#mees{
  max-height: 180px;
}

.font {
  font-family: 'Cinzel',
    serif;
  text-shadow: 10px 10px 14px rgba(8, 8, 8, 0.062);
}

.bgGradien {
  background: linear-gradient(to left, rgb(242, 208, 19), rgb(255, 220, 28) 50%, rgb(242, 208, 19) 98%, rgb(242, 208, 19) 2%);
  /*background: #EFCA08;*/
}

.bgGradien2 {
  background: linear-gradient(to left, rgb(230, 232, 230), rgb(230, 232, 230) 50%, rgb(230, 232, 230) 98%, rgb(230, 232, 230) 2%);
  /*background: #EFCA08;*/
}

.bg-color {
  background: #F2D013;
}

.bg-color-secondary {
  background: rgb(87, 75, 6);
}

.container-bg{
background: #E6E8E6;
}

/*.nav-color{
  background: rgb(46, 40, 42);
  color:rgb(143, 142, 142);
}*/

.btn-color {
  background: #EEEFA8;
}

.btn-color-tutvustus {
  background: #2E5077;
  color:#D7E8BA;
}

.btn-color-tutvustus:hover {
  background: #4DA1A9;
  color: #611C35;
}

.btn-color:hover {
  background: #E16036;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

/* shadow*/

.shadow {
-webkit-box-shadow: 10px 10px 14px -8px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 10px 10px 14px -8px rgba(0, 0, 0, 0.75);
box-shadow: 10px 10px 14px -8px rgba(0, 0, 0, 0.75);
}

.shadow:hover {
-webkit-box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
}

/* shadow end*/

@media only screen and (min-width: 1150px) {
  a {
    /*background-color: rgb(0, 208, 128);*/
    transition: background-color 0.9s;
  }

  a:hover {
    text-transform: uppercase;
   /* background-color: rgba(208, 0, 0, 0.288);*/
  }
}


/*ZoomIn Hover Effect*/
.hover-zoomin {
  display: block;
  position: relative;
  overflow: hidden;
}

.hover-zoomin img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hover-zoomin:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}


